{% extends 'base.html' %} 
{% load static %} 
{% load jformat %}
{% load crispy_forms_tags %} 
{% load widget_tweaks %}


{% block  title %}  posts {%  endblock title %} 

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'Blog/css/post.css' %}">
{% endblock css %}

{% block content %}
<div class="container-fluid">
    <h1 > پست ها </h1>
    {% for post in published_posts %}
        <div class="row te my-5">
            <div class="col-md-1"></div>
            <div class="col-md-3 ">
                <img src={{ post.img.url }} loading='lazy' img-fluid > 
            </div>

            <div class="col-md-7 ">   
                <h3>
                    <span >{{ post.title }}</span>
                </h3> 
                <div class="row " > 
                    <div class="col-md-4">
                        <ul class=" ul_1">
                            <li>
                                <span  class=" sp ">{{ post.get_authors }}</span>
                            </li>
                        </ul>
                    </div>
   
                    <div class="col-md-4">
                        <ul class=" ul_2 ">
                            <li>
                                <span  class=" sp ">{{ post.get_date }} </span>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <ul class=" ul_3">
                            <li>
                                <span  class=" sp ">{{ post.comments.count}} </span>
                            </li>
                        </ul>
                    </div>
                </div>
              
                <div>  
                    <span >{{  post.su_des | safe }} </span>
                </div>

                <div >  
                    <a href='/blog/detailpost/{{ post.slug }}'> ادامه مطالب ... </a>
                </div>

                <div class="col-md-1">  </div> 
            </div>           
    {% endfor %}
        </div> 
</div>

{% endblock content %}





