/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: OpenSans-Regular;
    src: url('../../Account/fonts/OpenSans/OpenSans-Regular.ttf'); 
  }
  
  @font-face {
    font-family: OpenSans-Bold;
    src: url('../../Account/fonts/OpenSans/OpenSans-Bold.ttf'); 
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/

body{
    background-image: linear-gradient(to top, #565d7a, #7a565b);
    
}


/*---------------------------------------------*/
a {
    font-family: OpenSans-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
  color: #fff;
}

a:link {
  color: #000;
  background-color: transparent;
  text-decoration: none;
}
/*---------------------------------------------*/

.f_sty{
    background-color: #dbdbdd;
    
 
}

.f_text_sty{
font-size:large;
}


button{
    background-image: linear-gradient(to top, #565d7a, #69567a);
    border: 10em;
    
}

.s_te{
  color: darkblue;
  direction: rtl;
 
}

.s_te1{
  color: #000;
  padding-right: 10px;
}

