/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: OpenSans-Regular;
    src: url('../../Account/fonts/OpenSans/OpenSans-Regular.ttf'); 
  }
  
  @font-face {
    font-family: OpenSans-Bold;
    src: url('../../Account/fonts/OpenSans/OpenSans-Bold.ttf'); 
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/

body{
    /* background-image: linear-gradient(to top, #565d7a, #69567a);  */
    background-image: url(../../Account/images/pic4.jpg);

    background-repeat: no-repeat;
    background-position: center center;
    Background-attachment:scroll;
    

}


/*---------------------------------------------*/
a {
    font-family: OpenSans-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
  color: #fff;
}

/*---------------------------------------------*/
.f_bg_color{
  background-color: rgb(255, 255, 255,0.2);
}


button{
    background-image: linear-gradient(to top, #565d7a, #69567a);
    border: 10em;

    
}

.dir{
  direction: ltr;
}

.s_te{
  color: #363434;
  direction: rtl;
  font-weight: bold;
 
}


