<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Fariba | {% block  title %}   {%  endblock title %} </title>
    {% block css %}
        {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> {% endcomment %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <style>
    .n_c{
       background-image: linear-gradient(to top, #565d7a, #69567a);
       opacity: 0.8;
       font-size:large;
       }

    .c{
        color: #ffffff;
    }
   
    </style>    
    {% endblock css %}
</head>
<body>
    <nav class="navbar navbar-expand-lg  n_c">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active c " aria-current="page" href="/">Home</a>
            </li>
        </ul>
        </div>
        <ul class="navbar-nav ml-auto  ">
            {% if user.is_authenticated %}
            <li class="nav-item ">
                <a class="nav-link c" href="{% url 'account:profile' %}">Profile</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link c" href="{% url 'account:logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item ">
                <a class="nav-link c" href="{% url 'account:login' %}">Login</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link c" href="{% url 'account:signup' %}">Signup</a>
            </li>
            {% endif %}
        </ul>
    </div>
    </nav>
<!----------------------------------message------------------------------>
    <div class="container-fluid">
 
        {% include 'includes/messages.html' %} 

        {% block content %}

        {% endblock content %}
    </div>

    </body>
    </html>